RewriteEngine on
RewriteBase /cheeky
Redirect 302 /latest-gajim /repository/eu/inviticon/cheeky/cheeky/1.10.1-SNAPSHOT/cheeky-1.10.1-20140621.104848-1-gajim.zip
Redirect 302 /latest-pidgin /repository/eu/inviticon/cheeky/cheeky/1.10.1-SNAPSHOT/cheeky-1.10.1-20140621.104848-1-pidgin.tar.gz 
